<!DOCTYPE html>
<html>
	<head>
		<title>Angular Expression Context</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../style.css">
		<script type="text/javascript" src="../../node_modules/angular/angular.min.js"></script>
		<script type="text/javascript" src="script.js"></script>
	</head>
	<body>
		<div class="example2" ng-app="expressionExample" ng-controller="ExampleController">
			Name: <input ng-model="name" type="text"/>
			<button ng-click="greet()">Greet</button>
			<button ng-click="window.alert('Should not see me')">Won't greet</button>
		</div>
	</body>
</html>